.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  text-align: center;
}

.login-btn,
.logout-btn {
  padding: 10px 20px;
  background-color: #ff7f50;
  border: none;
  color: white;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 5px;
}

.login-btn:hover,
.logout-btn:hover {
  background-color: #e65c3d;
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  text-align: center;
}

.login-btn,
.logout-btn,
.connect-tg-btn,
.remove-id-btn {
  padding: 10px 20px;
  background-color: #ff7f50;
  border: none;
  color: white;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 5px;
}

.login-btn:hover,
.logout-btn:hover,
.connect-tg-btn:hover,
.remove-id-btn:hover {
  background-color: #e65c3d;
}

h3 {
  margin-top: 20px;
}
